espresso/
*.pt
*.bin
*.log
build*
Session.vim
plots
*.db
*.xyz
*.npz
*.swp
.viminfo
*.csv
**/tags
GROMACS
**/*.png
**/*schnetpack*
**/logs*
**/*npy
**/*ckpt
**/*gro
**/*itp
**/*top
**/*pdb
**/*tpr
**/*edr
**/*trr
**/\#*\#
**/*.mdp
**/*.cpt
**/*.vtf
**/*.pml
**/*.pse
**/*.mp4
**/*.gif
**/*.vtf
